extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Acronyms
      h4
        | Information on how, and in which situations to use acronyms for products at #{config.brand}
    hr
    section
      h3.title-strong
        | #{config.brand} corporate product acronyms
      p
        | Product names should always be spelled out completely as it helps to build and reinforce the SUSE brand.
      p
        | There are a few instances where acronyms may be used but they are limited to following places:

      ul
        li
          | Social media including hashtags (not blogs)
        li
          | Tables with limited real estate
        li
          | Vanity URLs
        li
          | Event descriptions with limited word counts

      span
        |  * Note for social media hashtags an underscore should be used instead of a dash. For example SUSE_CAP, SUMA_Retail, etc.
    section

      h3.title-strong.margin-top-xxxl
        | List of acronyms
      p
        | Approved list of product name acronyms:

      table.acronyms-table
        tr.acronyms-table-header
          th
            | Product name
          th
            | Acronym
        tr
          th
            | SUSE Linux Enterprise Server
          th
            | SLES
        tr
          th
            | SUSE Linux Enterprise Server for z Systems and LinuxONE
          th
            | SLES-Z
        tr
          th
            | SUSE Linux Enterprise Server for POWER
          th
            | SLES-POWER
        tr
          th
            | SUSE Linux Enterprise Server for Arm
          th
            | SLES-Arm
        tr
          th
            | SUSE Linux Enterprise Server for SAP Applications
          th
            | SLES-SAP
        tr
          th
            | SUSE Linux Enterprise High Performance Computing
          th
            | SLE-HPC
        tr
          th
            | SUSE Linux Enterprise Real Time
          th
            | SLE-RT
        tr
          th
            | SUSE Linux Enterprise Server with Expended Supports
          th
            | SLES-ES
        tr
          th
            | SUSE Linux Enterprise Point of Service
          th
            | SLE-POS
        tr
          th
            | SUSE Linux Enterprise Desktop
          th
            | SLED
        tr
          th
            | SUSE Linux Enterprise High Availability Extension
          th
            | SLE-HA
        tr
          th
            | SUSE Linux Enterprise Workstation Extension
          th
            | SLE-WE
        tr
          th
            | SUSE Linux Enterprise Virtual Machine Drive Pack
          th
            | SLE-VMDP
        tr
          th
            | Long Term Service Pack Support
          th
            | LTSS
        tr
          th
            | SUSE Linux Enterprise Live Patching
          th
            | SLE-LP
        tr
          th
            | SUSE OpenStack Cloud
          th
            | SOC
        tr
          th
            | SUSE Enterprise Storage
          th
            | SES
        tr
          th
            | SUSE CaaS Platform
          th
            | SUSE-CaaSP
        tr
          th
            | SUSE Cloud Application Platform
          th
            | SUSE-CAP
        tr
          th
            | SUSE Cloud Application Platform
          th
            | SUMA
        tr
          th
            | SUSE Manager for Retail
          th
            | SUMA-Retail
