/* Header
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
* Titles: /assets/stylesheets/base/variables/titles.scss
*/
$header-font-size: $h5-font-size;
$header-text-color: $bc-white;
$header-icon-size: $m + 2;
