/* Links
   ========================================================================== */
/*
 * Colors variables: /assets/stylesheets/base/variables/branding.scss 
*/
$default-color: $bc-cerulean-900;
$default-color-hover: $bc-blue-400;
$link-font-size: $font-size-base - 2;
