/* Paragraph variables
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/typography.scss */
$line-height: $font-size-base * 1.5;
$p-margin-top: $font-size-base - 2;
$p-font-size: $font-size-base - 2;
