/* Titles
   ========================================================================== */
$h1-font-size:  1.75em;
$h2-font-size: 1.5625em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;
$h5-font-size: 1em;
$h6-font-size: 0.875em;
