/* z-index variables for use cases
   ========================================================================== */
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-navbar-fixed: 1030 !default;
$zindex-modal-background: 1040 !default;
$zindex-modal: 1050 !default;
$feedback-tool: 1060 !default;

/* z-index values for content */
$zindex-negative: -1;
$zindex-middle: 5;
$zindex-top: 10;
