/* Cookies variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$cookies-accept-color: $bc-white;
$cookies-alert-button-default-background-color: $bc-white;
$cookies-alert-button-default-color: #333;
$cookies-alert-button-default-border-color: #ccc;
$cookies-alert-p-color: #686565;
$cookies-alert-p-padding: $s;
$cookies-alert-buttons-padding: $xs + 2 $s + 4;
