extends ../layouts/layout-main
block content
  .container
    section  
      h1
        | All special icons
      p
        | The following is the list of items, functions, names, etc. that require an special icon to be designed:
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
              h6
                | Filter icons by:
              .btn-group
                .btn.btn-warning.clickable.js-filter-product-icons
                  | Rethink
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-success.clickable.js-filter-product-icons
                  | Ok
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-danger.clickable.js-filter-product-icons
                  | Drop
                  .badge.js-count-product-icons
                    | 1
              .btn.btn-link.clickable.js-filter-product-icons
                | All
                .badge.js-count-icons
                  | 1
            .col-sm-6
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .material-icons.md-18.js-icons-search-close.clickable
                    | close
    section
      .icons-list
        .js-icons-search-empty.hidden
          .alert.alert-section.alert-info
            | No icon found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-3
            h4
              | Icon
          .col-sm-3
            h4
              | Icon status
          .col-sm-3
            h4
              | Decision
          .col-sm-3
            h4
              | Purpose/Action
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-snapshot-rollback.md-48
              span.label.label-default
                | spacewalk-icon-snapshot-rollback
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  |
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-delete.md-48
              span.label.label-default
                | spacewalk-icon-package-delete
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | delete
              .label.label-danger
                | delete 
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-config-system.md-48
              span.label.label-default
                | spacewalk-icon-config-system
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings
              .label.label-danger
                | settings
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-channels.md-48
              span.label.label-default
                | spacewalk-icon-channels
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  |
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-add.md-48
              span.label.label-default
                | spacewalk-icon-package-add
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | add_circle
              .label.label-danger
                | add_circle
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-schedule.md-48
              span.label.label-default
                | spacewalk-icon-schedule
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | calendar_today
              .label.label-danger
                | calendar_today
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-schedule-computer.md-48
              span.label.label-default
                | spacewalk-icon-schedule-computer
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | calendar_today
              .label.label-danger
                | calendar_today
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-note-pin.md-48
              span.label.label-default
                | spacewalk-icon-note-pin
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | -
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-channels-config.md-48
              span.label.label-default
                | spacewalk-icon-channels-config
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  |
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-bug-ex.md-48
              span.label.label-default
                | spacewalk-icon-bug-ex
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-sandbox.md-48
              span.label.label-default
                | spacewalk-icon-sandbox
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-proxy.md-48
              span.label.label-default
                | spacewalk-icon-proxy
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-patchset-install.md-48
              span.label.label-default
                | spacewalk-icon-patchset-install
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | add_circle
              .label.label-danger
                | add_circle
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-patch-set.md-48
              span.label.label-default
                | spacewalk-icon-patch-set
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | healing
              .label.label-danger
                | healing
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-patch-remove.md-48
              span.label.label-default
                | spacewalk-icon-patch-remove
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | delete
              .label.label-danger
                | delete
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-upgrade.md-48
              span.label.label-default
                | spacewalk-icon-package-upgrade
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | offline_bolt
              .label.label-danger
                | offline_bolt (MD icons repo not updated yet.)
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-patch-install.md-48
              span.label.label-default
                | spacewalk-icon-patch-install
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | add_circle
              .label.label-danger
                | add_circle
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-listicon-cfg-symlink.md-48
              span.label.label-default
                | spacewalk-icon-listicon-cfg-symlink
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings_input_hdmi
              .label.label-danger
                | settings_input_hdmi
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-go-button.md-48
              span.label.label-default
                | spacewalk-icon-go-button
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-folder-config.md-48
              span.label.label-default
                | spacewalk-icon-folder-config
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings_applications
              .label.label-danger
                | settings_applications
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-extra.md-48
              span.label.label-default
                | spacewalk-icon-package-extra
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | layers
              .label.label-danger
                | layers
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-patches.md-48
              span.label.label-default
                | spacewalk-icon-patches
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | healing
              .label.label-danger
                | healing 
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-register-system.md-48
              span.label.label-default
                | spacewalk-icon-register-system
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | add_circle
              .label.label-danger
                | add_circle
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-inactive-systems.md-48
              span.label.label-default
                | spacewalk-icon-inactive-systems
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | delete
              .label.label-danger
                | delete
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-locked-system.md-48
              span.label.label-default
                | spacewalk-icon-locked-system
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | lock
              .label.label-danger
                | lock
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-autoinstallations.md-48
              span.label.label-default
                | spacewalk-icon-autoinstallations
            .col-sm-3
              .label.label-success
                | Redesign EOS
            .col-sm-3
              | SUMA marked it as drop, but then PO marked it as redesign after finding out the icon is still needed
            .col-sm-3
              p
                | This icon is used in /rhn/kickstart/KickstartOverview.do page. The page belongs to the Autoinstallation feature.
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-autoinstalling.md-48
              span.label.label-default
                | spacewalk-icon-autoinstalling
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | album
              .label.label-danger
                | album
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-manage-autoinstallations.md-48
              span.label.label-default
                | spacewalk-icon-manage-autoinstallations
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | album
              .label.label-danger
                | album
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-channel-management.md-48
              span.label.label-default
                | spacewalk-icon-software-channel-management
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings_input_component
              .label.label-danger
                | settings_input_component
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-manage-configuration-files.md-48
              span.label.label-default
                | spacewalk-icon-manage-configuration-files
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings
              .label.label-danger
                | settings
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-clone-patches.md-48
              span.label.label-default
                | spacewalk-icon-clone-patches
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | control_point_duplicate
              .label.label-danger
                | control_point_duplicate
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-configure-suse-manager.md-48
              span.label.label-default
                | spacewalk-icon-configure-suse-manager
            .col-sm-3
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-manage-entitlements-subscriptions.md-48
              span.label.label-default
                | spacewalk-icon-manage-entitlements-subscriptions
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | product_subscriptions
              .label.label-danger
                | product_subscriptions
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-channels.md-48
              span.label.label-default
                | spacewalk-icon-software-channels
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings_input_component
              .label.label-danger
                | settings_input_component
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-crashes.md-48
              span.label.label-default
                | spacewalk-icon-software-crashes
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | flash_on
              .label.label-danger
                | flash_on
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-manage-patches.md-48
              span.label.label-default
                | spacewalk-icon-manage-patches
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | settings
              .label.label-danger
                | settings
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-custom-system-info.md-48
              span.label.label-default
                | spacewalk-icon-custom-system-info
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  |  vpn_key
              .label.label-danger
                |  vpn_key
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-download-csv.md-48
              span.label.label-default
                | spacewalk-icon-download-csv
            .col-sm-3
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-manage-software-packages.md-48
              span.label.label-default
                | spacewalk-icon-manage-software-packages
            .col-sm-3

            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-system-groups.md-48
              span.label.label-default
                | spacewalk-icon-system-groups
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-unentitled.md-48
              span.label.label-default
                | spacewalk-icon-unentitled
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | error
              .label.label-danger
                | error
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-enhancement.md-48
              span.label.label-default
                | spacewalk-icon-enhancement
            .col-sm-3
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-health-pending.md-48
              span.label.label-default
                | spacewalk-icon-health-pending
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | query_builder
              .label.label-danger
                | query_builder
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-organization-trust.md-48
              span.label.label-default
                | spacewalk-icon-organization-trust
            .col-sm-3
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-virtual-guest.md-48
              span.label.label-default
                | spacewalk-icon-virtual-guest
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | cloud_queue
              .label.label-danger
                | cloud_queue
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-search.md-48
              span.label.label-default
                | spacewalk-icon-package-search
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | search
              .label.label-danger
                | search
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-health-unknown.md-48
              span.label.label-default
                | spacewalk-icon-health-unknown
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | help_outline
              .label.label-danger
                | help_outline
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-health.md-48
              span.label.label-default
                | spacewalk-icon-health
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | help
              .label.label-danger
                | help
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-packages.md-48
              span.label.label-default
                | spacewalk-icon-packages
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-virtual-host.md-48
              span.label.label-default
                | spacewalk-icon-virtual-host
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | cloud_circle
              .label.label-danger
                | cloud_circle
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-unknown-system.md-48
              span.label.label-default
                | spacewalk-icon-unknown-system
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | help_outline
              .label.label-danger
                | help_outline
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-security-advisory.md-48
              span.label.label-default
                | spacewalk-icon-security-advisory
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | security
              .label.label-danger
                | security
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-enhancement-advisory.md-48
              span.label.label-default
                | spacewalk-icon-enhancement-advisory
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-bare-metal.md-48
              span.label.label-default
                | spacewalk-icon-bare-metal
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | storage
              .label.label-danger
                | storage
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-virtual-host-manager.md-48
              span.label.label-default
                | spacewalk-icon-virtual-host-manager
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-subscription-counting.md-48
              span.label.label-default
                | spacewalk-icon-subscription-counting
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-salt.md-48
              span.label.label-default
                | spacewalk-icon-salt
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-salt-add.md-48
              span.label.label-default
                | spacewalk-icon-salt-add
            .col-sm-3
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-envelope-open-o.md-48
              span.label.label-default
                | spacewalk-icon-envelope-open-o
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | mail
              .label.label-danger
                | mail
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-suse-manager.md-48
              span.label.label-default
                | spacewalk-icon-suse-manager
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-success
                | Redesign EOS
            .col-sm-3
              .label.label-success.js-filter-label
                | Ok
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-desktop-filled-group.md-48
              span.label.label-default
                | spacewalk-icon-desktop-filled-group
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-desktop-filled.md-48
              span.label.label-default
                | spacewalk-icon-desktop-filled
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-danger.js-filter-label
                | Drop
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-desktop-filled-non-checking-in.md-48
              span.label.label-default
                | spacewalk-icon-desktop-filled-non-checking-in
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.spacewalk-icon-desktop-filled-unpatched.md-48
              span.label.label-default
                | spacewalk-icon-desktop-filled-unpatched
            .col-sm-3
              p
                | Should be replaced by:  
                i.material-icons
                  | 
              .label.label-warning
                | Need feedback
            .col-sm-3
              .label.label-warning.js-filter-label
                | Rethink
            .col-sm-3
              p
                | -
          hr.hr-dotted
