/* Links
   ========================================================================== */
/**
*
* Links variables: /assets/stylesheets/base/variables/links.scss
*/

/* Set the link color to our blue and not the bootstrap default */
a,
.btn-link {
  color: $default-color;
  font-size: $link-font-size;
}

a:hover {
  color: $default-color-hover;
}
