/* Search
   ========================================================================== */
/* Variables file: assets/stylesheets/components/Search/Search.variables.scss */
.search {
  input.form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $search-border;
    border-radius: 0px;
    box-shadow: none;

    &::-webkit-input-placeholder {
      font-style: italic;
    }

    &::-moz-placeholder {
      font-style: italic;
    }
  }
}
