/* Alerts
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/pages/alerts/alerts.variables.scss
* Titles: /assets/stylesheets/base/titles.scss
*
*/

.alerts-card {
  height: $alerts-card-height;

  figure {
    max-width: $alerts-card-figure;
  }

  // This overwrites current title styles. We'll need to revisit once new title styles are implemented
  h3,
  h3:first-of-type {
    margin-bottom: 0;
  }

  .alert-card-description {
    min-height: $alert-card-description-height;
  }
}
