/* Alerts
  ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$alerts-card-height: 445px;
$alerts-card-figure: 276px;
$alert-card-description-height: 65px;
