/* Steps progress bar variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$spb-color: $bc-white;
$spb-color: $bc-white;
$spb-after: $bc-gray-200;
$spb-wrapper-title: $bc-gray-400;
$spb-wrapper-background-span: $bc-gray-300;
$spb-first-circle-color: $bc-red-400;
$spb-second-circle-color: $bc-cerulean-400;
$spb-third-circle-color: $bc-green-400;
$spb-fourth-circle-color: $bc-violet-400;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$spb-after-height: $xs - 2;
$spb-after-bottom: 20px;
$spb-wrapper-size: $xxl + 2;
$spb-wrapper-size-selectred: $xxl - 2;
$spb-wrapper-size-span: $xl - 4;
$spb-wrapper-selected-size: $xxl - 8;
$spb-size: $xxl + 2;
$spb-wrapper-span-margin-top: $xs;
$spb-wrapper-after-left: 50%;
$spb-z-index: $zindex-negative;
