/* Cookies Preference Variables
========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$slider-background: $bc-gray-300;
$slider-before-color: $bc-white;
$slider-input-checked-color: $bc-green-500;
$slider-input-disabled-color: $bc-gray-500;
$cookies-table-title-background: $bc-gray-100;



/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$cookies-preference-margin: $s;
$cookies-preference-switch-margin: $s $m;
$cookies-preference-switch-height: $xl;
$cookies-preference-switch-width: $xxxl - 4;
$slider-before-bottom-left: $xs;
$slider-before-height-width: $l + 2;
$slider-input-border-radius: $xl + 2;
$cookies-table-grid-size: 33.3%;
$cookies-table-padding: $s;
$cookies-table-padding-span: $xs;
