/* Implementation example
   ========================================================================== */
/**
* Implementation example with code and UI result
*
* Variables file: assets/stylesheets/components/implementation-example/implementation-example.variables.scss
*/
.implementation-example {
  margin: $ie-vertical;

  .result {
    border: 1px solid $ie-result-default-border;
    border-bottom: 0;
    border-radius: $ie-border-radius-size $ie-border-radius-size 0 0;
    padding: $ie-result-padding;

    .btn {
      margin-right: $ie-btn-margin-right;
    }

    &.dark-bg {
      background: $ie-result-dark-color;
      border: 1px solid $ie-result-dark-color;
      border-radius: 0;
    }
  }

  .implementation-example-footer {
    border: 1px solid $ie-result-default-border;
    border-radius: 0 0 $ie-border-radius-size $ie-border-radius-size;
    border-top: 0;
    display: flow-root;
    padding: $ie-footer-padding;
  }

  .prettyprint {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
}

.tab-content {
  .result {
    border: 0;
    padding-left: 0;

    &.dark-bg {
      padding: $ie-result-padding;
    }
  }
}
