/* Typography page variables
   ========================================================================== */
/**
* primary-alternative = pa
* Colors and borders
*
* Typography variables: /assets/stylesheets/base/variables/typography.scss
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
* 
*/
$design-spec-file-padding: $m;
$design-spec-file-margin-top: $xl;
$pa-block-margin-top: $xl;
$pa-block-h4-margin-bottom: $xs;
$pa-block-p-margin: $xs;
$alternative-typeface-font-family: $font-type-alternative;
$alternative-typeface-font-weight: $font-weight-normal-alternative;
$type-scale-container-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
$type-scale-container-ul-padding: 0 $s;
$type-scale-container-li-padding: $m 0;
$type-scale-container-li-border-bottom: 1px solid $bc-gray-900;
$type-scale-container-h-tag-line-height: $xl + 8;
$color-box-width: 20%;
$color-box-color-height: 100px;
$color-box-color-width: 100%;

/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$color-bc-gray-900-background: $bc-gray-900;
$color-bc-gray-100-background: $bc-gray-100;
$color-bc-white-background: $bc-white;
$color-bc-black-background: $bc-black;
$color-bc-green-500-background: $bc-green-500;
